{% extends "base.html" %}

{% block content %}
<div class="container">
  <form>
  <div class="box box-danger">
    <br>
    <div class="box-header">
      <h3 class="box-title" align="center">Programar nuevo movimiento</h3>
    </div>
    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre del movimiento:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese un nombre que identifique al movimiento">
      </div>
      <div class="form-group">
        <label>Ingrese junto al servo el ángulo de movimiento:</label>
        <br>
        <div class="row">
          <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">1</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">2</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">3</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">4</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">5</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">6</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">7</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">8</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="input-group">
                <span class="input-group-addon">9</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">10</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">11</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">12</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">13</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">14</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">15</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
            <br>
              <div class="input-group">
                <span class="input-group-addon">16</span>
                <input type="number" min="0" max="180" class="form-control" aria-label="Movimiento en grados">
                <span class="input-group-addon">°</span>
              </div>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button type="submit" class="btn btn-default">Cancelar</button>
        <button type="submit" class="btn btn-info pull-right">Guardar</button>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
  </form>
</div>
{% endblock %}
{% block javascript_footer %}
{% endblock %}
