{% extends "base.html" %}

{% block content %}

  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Movimiento Individual <small> (por servo) </small>
      </h1>
    </section>
  <form>
      <!-- Main content -->
      <section class="content">
        <div class="box-header">
          <h3 class="box-title"> Desplace el servo que desea mover </h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-lg-2">
              <p>Servo 1</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red" name="servo1">
              </div>
              <br>
              <p>Servo 2</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo12">
              </div>
              <br>
              <p>Servo 3</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo3">
              </div>
              <br>
              <p>Servo 4</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo4">
              </div>
              <br>
              <p>Servo 5</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo5">
              </div>
              <br>
              <p>Servo 6</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo6">
              </div>
              <br>
              <p>Servo 7</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo7">
              </div>
              <br>
              <p>Servo 8</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo8">
              </div>
              <br>
            </div>
            <div class="col-lg-2">
              <p>Servo 9</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red" name="servo9">
              </div>
              <br>
              <p>Servo 10</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo10">
              </div>
              <br>
              <p>Servo 11</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo11">
              </div>
              <br>
              <p>Servo 12</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo12">
              </div>
              <br>
              <p>Servo 13</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo13">
              </div>
              <br>
              <p>Servo 14</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo14">
              </div>
              <br>
              <p>Servo 15</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"  name="servo15">
              </div>
              <br>
              <p>Servo 16</p>
              <div class="input-group">
                <input type="text" value="" class="slider form-control" data-slider-min="0" data-slider-max="180"
                       data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal"
                       data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red" name="servo16">
              </div>
              <br>
            </div>
            <div class="col-lg-2">
              <img src="{{url_for('static', filename='roboSoul.jpg')}}" height="600" width="600" alt="Disposición de los servos">
            </div>
          </div>
        </div>
      </section>
  </form>
</div>

{% endblock %}

{% block javascript_footer %}
<script>
  $(function () {
    /* BOOTSTRAP SLIDER */
    $('.slider').slider()
  })
</script>
{% endblock %}
